canvas{
	position: absolute;
	top: 0;
	left: 0;
}
html{
	background: linear-gradient(to right, rgb(0,0,0), rgb(10,10,10));
}
@font-face{
	font-family: "Sans Serif";

	src: url("fonts/helvetica.otf");
}
input{
	width:  300px;
	height:  30px;
	padding-left: 20px;

	position: absolute;
	top:  40%;
	left:  70%;

	border:  none;
	outline: none;

	font-size: 1.2em;
	font-family: "Sans Serif", helvetica;
}
button{
	background-color: #fff;

	width:  30px;
	height:  30px;

	position: absolute;
	top:  40%;
	left:  94%;

	border:  none;
	outline: none;

	font-size: 1.2em;
	font-family: "Sans Serif", helvetica;
}